#poster{
    width: 100%;
    height: 260px;
}

#title {
    color: darkslategray;
}
#genre {
    color: grey;
    margin-bottom: 0;
    font-size: 0.9rem;
}
#runtime {
    color: grey;
    margin: 10px 0;
    font-size: 0.9rem;
}
#released {
    color: grey;
    margin: 10px 0;
    font-size: 0.9rem;
}
#director {
    color: grey;
    margin: 10px 0;
    font-size: 0.9rem;
}
#language {
    color: grey;
    margin: 10px 0;
    font-size: 0.9rem;
}
#plot {
    text-align: justify;
    color: grey;
}

#addedBtn {
    background-color: #F9BB01;
    color: darkslategray;
    border-color:#F9BB01 ;
}

.headings {
    font-weight: 600;
    color: #706f6f;
}

#btnContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}