#poster{
    width: 100%;
    height: 260px;
}

#title {

}
#genre {
    color: grey;
    margin-bottom: 0;
    font-size: 0.9rem;
}
#runtime {
    color: grey;
    margin: 10px 0;
    font-size: 0.9rem;
}
#released {
    color: grey;
    margin: 10px 0;
    font-size: 0.9rem;
}
#director {
    color: grey;
    margin: 10px 0;
    font-size: 0.9rem;
}
#language {
    color: grey;
    margin: 10px 0;
    font-size: 0.9rem;
}
#plot {
    text-align: justify;
}

.btn {
    float: inline-end;
    margin-top: 10px !important;
}

#addedBtn {
    background-color: #F9BB01;
    color: black;
    border-color:#F9BB01 ;
}

.headings {
    font-weight: 600;
    color: #706f6f;
}