#cardContainer {
    height: 235px;
    width: 250px;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 15px lightgrey;
}

#poster {
    height: 150px;
    width: 250px;
    margin: auto;
    text-align: center;
}

#detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
}

#title {
    font-size: 0.9rem;
    margin: 0;
    font-weight: 600;
    width: 70%;
}

#duration {
    font-size: 0.8rem;
    margin: 0;
    color: grey;
}

#btn {
    margin-top: 8px;
}