#cardContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 200px;
    width: 98%;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

#poster {
    height: 100%;
    width: 25%;
    box-shadow: 0 0 3px lightgrey;
    box-sizing: border-box;
}

#detailsContainer {
    width: 75%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 10px;
}

#topContainer{
    display: flex;
    justify-content: space-between ;
    box-sizing: border-box;
    height: 80px;
}

#editIcon{
    font-size: 1.2rem;
    height: fit-content;
    padding:0 ;
}

#bottomContainer {
    margin-top: 13px;
}

#title, #genre, #released {
    margin: 0 0 5px 0;
}

#title {
    font-weight: 700;
}

#genre {
    font-weight: 500;
    color: #ebb000;
    font-size: 1rem;
}

#released {
    font-size: 0.9rem;
}

#desc {
    color: grey;
    text-align: justify;
    height: 70px;
    margin: 0;
    overflow: scroll;
}

#text {
    margin: 0;
}
