#backdropContainer {
    background-color: rgba(0, 0, 0, 50%);
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    background-color: white;
    height: auto;
    min-height:200px;
    max-height: 550px;
    width: 700px;
    overflow: scroll;
    scrollbar-width: thin;
    border-radius: 5px;
    padding-left: 13px;
    box-shadow: 0 0 15px grey;
}

#warning {
    position: relative;
    top: 60px;
    text-align: center;
    color: grey;
}